{% extends 'squelette.html.twig' %}

{# COMMENTAIRE TWIG#}
{# ON MET ICI LE CODE SPECIFIQUE DE LA PAGE #}

{% block zonecss %}
<style>
h2 { 
    color:orange;
}
</style>
{% endblock %}


{% block zone1 %}
    <h2>CODE HTML FOURNI PAR TEST ACCUEIL</h2>
{% endblock %}

{% block zonejs %}
<script>
console.log('HELLO');
</script>
{% endblock %}
